@media screen and (min-width: 320px) and (max-width: 480px){
    img{display: none;}
    menu{display: none;} 
}
body{
    background-color: #99cccc;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #669999;
}
.menu{
    background-color: #669999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 30px;
    height: 100px;
    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.nav-element {
    display: flex;
    
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-around;

}

.nav-element input {
    margin: 0 0.5rem 1rem 1rem;
}

.jpeg{
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    text-align: center;
}
p{
    justify-content: center;
    size: 70px;
    text-align: center;
}
.opis{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;
    
}

.contact{
    background-color: #669999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
}

.copyright{
    background-color: #669999;
    text-align: center;
}

.social{
    color: #669999;
    size: 20px;
    text-align: center;
    justify-self: center;
    align-items: center;
}
.i{
    font-size: 80px;
    margin: 15px 15px 0;
    color: #669999;
}
.i:hover{
    color: black;
}
.foot{
    justify-content: space-around;
    align-items: center;
}